*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --small-size:12px;
    --medium-size:14px;
    --large-size:16px;
    --grey-light:#bdc1c6;
    --grey-ligthMedium:#303134;
    --grey-medium:#202124;
    --grey-dark:#171717;
    --white:#ffffff;
    --text-link:#8ab4f8;
    --text-grey:#9aa0a6;
    --text-white:#e8eaed;
}
html{
    font-family: 'Arial', sans-serif;
    font-size: 62.5%;
    background-color: var(--grey-medium);
}
.main-container{
    width: 100%;
    height: 100vh;
}
.header{
    position: fixed;
    top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    min-width: 45rem;
}
.header-nav-left{
    display: flex;
    align-items: center;
    margin-left: 1.4rem;
}
.nav-li{
    display: inline-block;
    font-size: var(--medium-size);
    font-weight: lighter;
    margin-left: 1.4rem;
}
.nav-li a{
    color: var(--grey-light);
    text-decoration: none;
}
.nav-li a:hover{
    text-decoration: underline;
}

.header-nav-rigth{
    margin-right: 1.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-nav-rigth a{
    color: var(--white);
}
.header-nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height:4rem;
    margin-left:2.4rem;
}

.header-nav-menu:hover{
   background-color: var(--grey-ligthMedium);
   border-radius: 50%;
}
.header-nav-menu svg{
    width: 2.6rem;
    height: auto;
    fill: var(--white);
}
.header-nav-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height:4rem;
    margin-left:0.4rem;
}
.header-nav-profile img{
    width: 3.4rem;
    height: auto;
    border-radius: 50%;
}
.header-nav-profile:hover{
   background-color: var(--grey-ligthMedium);
   border-radius: 50%;
}




.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.footer-top{
    width: 100%;
    height: 4.8rem;
    background-color: var(--grey-dark);
    border-bottom: 1px solid var(--grey-medium);
    display: flex;
    align-items: center;
}
.footer-top p{
    color: var(--text-grey);
    font-size: 1.5rem;
    font-weight: lighter;
    margin-left: 3rem;
}
.footer-bottom{
    width: 100%;
    height: 4.7rem;
    background-color: var(--grey-dark);
    padding-left:3rem;
    min-width: 46rem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom-left{
    display: flex;
    align-items: center;
    order: 1;
    justify-content: flex-start;
    height: 4.6rem;
}

.footer-bottom-li{
    display: inline-block;
    font-size: var(--medium-size);
    font-weight: lighter;
    margin-right: 3rem;
}
.footer-bottom-li a{
    color: var(--text-grey);
    text-decoration: none;
}
.footer-bottom-li a:hover{
    text-decoration: underline;
}
.footer-bottom-center {
   display: flex;
   align-items: center;
   order: 2;
   height: 4.6rem;
}
.footer-bottom-center img{
    width: 1.2rem;
    height: auto;
    margin-right: 0.6rem;
}
.footer-bottom-center a{
    text-decoration: none;
    font-weight: lighter;
    font-size: var(--medium-size);
    color: var(--text-grey);
}
.footer-bottom-center a:hover{
    text-decoration: underline;
}
.footer-bottom-rigth{
    display: flex;
    align-items: center;
    order: 3;
    justify-content: flex-end;
    height: 4.6rem;
}

@media (max-width:1250px){
    .footer-bottom{
        height: 9.7rem;
    }
    .footer-bottom-center{
        order: 0;
        width: 100%;
        justify-content: center;
    }
    .footer-bottom-left{
        order: 1;
    }
    .footer-bottom-rigth{
        order: 3;
    }
}

@media (max-width:1200px){
    .footer-bottom{
        justify-content: space-evenly;
    }
}
@media (max-width:745px){
    .footer-bottom{
        height: 13.9rem;
    }
}